# OS
.DS_Store
Thumbs.db

# Node / package managers
node_modules/
npm-debug.log
yarn-error.log
.pnp.*

# Metro / React Native
.metro-health-check*
*.jsbundle

# Windows / Visual Studio build output
windows/**/bin/
windows/**/obj/
windows/x64/
*.binlog
*.suo
*.user
*.VC.db
.vs/

# Tests / coverage
coverage/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
windows/billiardsgrade/Assets/ffmpeg/ffmpeg.exe 
